{% extends '@TeebbSBAdmin2/standard_layout.html.twig' %}

{% block teebb_head_title %}
    {{ action|trans({}, teebb_sbadmin2.transDomain) ~ ' ' ~ admin.label|trans({}, teebb_sbadmin2.transDomain) ~ ' | ' ~ 'TeebbSBAdmin2'|trans({}, teebb_sbadmin2.transDomain) }}
{% endblock %}

{% block heading_label %}
    {{ admin.label|trans({}, teebb_sbadmin2.transDomain) ~ ' Manage'|trans({}, teebb_sbadmin2.transDomain) }}
{% endblock %}

{% block heading_link %}
    <a href="{{ admin.generateUrl('create') }}" class="btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-circle fa-sm text-white-50 pr-2"></i>
        {{ 'Create'|trans({}, teebb_sbadmin2.transDomain) ~' '~admin.label|trans({}, teebb_sbadmin2.transDomain) }}
    </a>
{% endblock %}

{% block content %}
    <!--Edit Object-->
    <div class="card border-top-primary shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ action|trans({}, teebb_sbadmin2.transDomain) ~ ' ' ~ admin.toString(admin.subject) }}</h6>
        </div>

        {% include teebb_sbadmin2.sbadmin2Config.getTemplate('base_edit_form') with {'form': form, 'admin': admin} %}

    </div>
{% endblock %}