<table class="table table-striped" id="dataTable">
    <thead>
    <tr>
        <th scope="col">
            <input type="checkbox" class="form-check check-all"
                   title="{{ 'Check All'|trans({}, teebb_sbadmin2.transDomain) }}">
        </th>
        {% for property in list_item_properties %}
            <th scope="col" class="{{ property.class }}">
                {%- if property.sortable == true %}
                    {{ knp_pagination_sortable(pagination, property.label|trans({}, teebb_sbadmin2.transDomain), 'o.'~property.property) }}
                {% else %}
                    {{ property.label|trans({}, teebb_sbadmin2.transDomain) }}
                {% endif -%}
            </th>
        {% endfor %}
        <th scope="col">{{ 'Options'|trans({}, teebb_sbadmin2.transDomain) }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in pagination %}
        <tr>
            <td scope="row">
                <input type="checkbox" name="idx[]" class="form-check" value="{{ item.id }}">
            </td>
            {% for property in list_item_properties %}
                <td class="{{ property.class }}">
                    {%- if property['action'] is defined %}
                        <a href="{{ admin.generateObjectUrl(property['action'],item,{'id': item.id}) }}">{{ admin.propertyAccessor.getValue(item, property.property) }}</a>
                    {% else %}
                        {{ admin.propertyAccessor.getValue(item, property.property) }}
                    {% endif -%}
                </td>
            {% endfor %}
            <td class="text-nowrap">
                {% if admin.listActionType == 'item' %}
                    {% for action in list_item_actions %}
                        {% if is_granted(action['roles']) or action['roles'] is empty %}
                            <a href="{{ admin.generateObjectUrl(action.name,item,{'id': item.id}) }}"
                               class="btn btn-sm shadow-sm {{ action['class'] }}">
                                <i class="fas {{ action['icon'] }} fa-sm text-white-50 pr-2"></i>{{ action['name']|upper|trans({}, teebb_sbadmin2.transDomain) }}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% elseif admin.listActionType == 'group' %}
                    <div class="btn-group btn-group-sm" role="group" aria-label="{{ admin.label }} group">
                        {% for action in list_item_actions %}
                            {% if is_granted(action['roles']) or action['roles'] is empty and action['hide'] == false %}

                                <a href="{{ admin.generateObjectUrl(action.name,item,{'id': item.id})  }}"
                                   class="btn btn-sm shadow-sm {{ action['class'] }}">
                                    <i class="fas {{ action['icon'] }} fa-sm text-white-50 pr-2"></i>{{ action['name']|upper|trans({}, teebb_sbadmin2.transDomain) }}
                                </a>

                            {% endif %}
                        {% endfor %}
                        <div class="btn-group btn-group-sm" role="group">
                            <button id="btnGroupDrop_{{ item.id }}" type="button"
                                    class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'More'|trans({}, teebb_sbadmin2.transDomain) }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop_{{ item.id }}">
                                {% for action in list_item_actions %}
                                    {% if is_granted(action['roles']) or action['roles'] is empty and action['hide'] == true %}
                                        <a href="{{ admin.generateObjectUrl(action.name,item,{'id': item.id}) }}" class="dropdown-item">
                                            <i class="fas {{ action['icon'] }} fa-sm pr-2"></i>{{ action['name']|upper|trans({}, teebb_sbadmin2.transDomain) }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ list_item_properties|length + 2 }}">
                {{ 'Woooooo! It\'s Nothing! Empty! Blank!'|trans({}, teebb_sbadmin2.transDomain) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>